.quotes{
	min-height: 320px;
	grid-area: quotes;
}

.quotes__title{
	margin: 131px;
	margin-left: 45px;
}

@media screen and (max-width: 768px){
	.quotes__title{
		font-size: 14px;
		line-height: 16px;
		margin-top: 42px;
		margin-left: 46px;
	}
}

@media screen and (max-width: 767px){
	.quotes__title{
		font-size: 18px;
		line-height: 21px;
		margin-top: 128px;
		margin-left: 99px;
	}
}

@media screen and (max-width: 400px){
	.quotes__title{
		margin-top: 131px;
		margin-left: 82px;
	}
}